# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Visual Studio Code
.vscode

# ========== Project specific files ==========

# Data directory
data/*

# Model checkpoints
checkpoints*/